@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Playfair Display", serif;
    margin:0;
    padding:0;
    }
  body{
    color: #333333;
    backgound-color: #f9f8fa;
    line-height: 1.6;
    max-height: 800px;
    margin: auto;
  }
.header-container{
    background-color:rgb(235, 13, 205);
    color: #FFFFFF;
    text-align: Center;
}

.link{
    color: #ffffff;
    text-decoration: none;
}
main{
    max-width:800px;
    margin: auto;
}

.link:hover{
    color: yellow;
}

.link:visited{
    color: black;
}
nav ul{
    list-style:none;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.subtitle{
    margin: 20px 0px;
}

.citacoes{
    background-color:rgb(235, 13, 205);
    border-left: 5px solidrgb(248, 8, 188);
    font-style: italic;
    margin-bottom: 20px;
    padding: 10px

}

footer{
    color: white;
    text-align: center;
    background-color: rgb(235, 13, 205)
    padding: 20px;
    margin-top: 40px
}